<div class="row" id="snapshotsDiv"> 
	<div id="connWorkspaceErrMsg" class="alert-box alert radius" data-alert=""></div>
	<div id="connWorkspaceSuccessMsg" class="alert-box success radius" data-alert=""></div>
	<div id="connWorkspaceInfoMsg" class="alert-box radius" data-alert=""></div>
	<% 
		if( files.length > 0){
	%>
		<table>
			<thead>
				<th>Select</th>
				<th width="98%">Snapshot </th>
			</thead>
			<tbody>
			
	<%
			for(var i=0; i < files.length; i++){
	%>
				<tr>
					<td><input type="checkbox" id='<%=files[i]%>' /></td>
					<td><%=files[i]%></td>
				</tr>
	<%
			} // end for loop
	%>
			</tbody>
		</table>
		
	<%
		} // end if block
	%>
		<ul class="button-group">
		   <li><a href="#" type="button" id="takeSnapshotBtn" class="radius button tiny">Take Snapshot</a></li>
		
	<%
		if(files.length > 0){
	%>
			<li><a href="#" id="diffSnapshotBtn" class="radius button tiny">Show Diff</a></li>
			<li><a href="#" id="deleteSnapshotsBtn" class="radius button tiny">Delete Snapshots</a></li>
			<li><a href="#" id="downloadSnapshotBtn"  class="radius button tiny">Download Snapshot</a></li>
		</ul>
	<%
		}
	%>
	
	<script>
	$(document).ready(function(){
		
		$.ajax({

   	     type: "GET",
   	     url: '/download/snapshot?id=<%=connectionid%>',
   	     success: function(data) {
   	    	alert("done: " + data);
   	     }
   	   });
	});
	
	$(document).ready(function(){
		$('#connWorkspaceSuccessMsg').hide();
		$('#connWorkspaceErrMsg').hide();
		$('#connWorkspaceInfoMsg').hide();
		
		$('#takeSnapshotBtn').bind('click', function(){
			
			$('#connWorkspaceInfoMsg').html("Taking schema snapshot. This will take a couple of minutes to complete.");
			$('#connWorkspaceInfoMsg').show();
			
			$.ajax({

	    	     type: "POST",
	    	     url: '/create/snapshots/',
	    	     data: { connectionid : '<%=connectionid%>'}, 
	    	     success: function(data) {
	    	    	 $('#connWorkspaceInfoMsg').hide();
	    	    	 $('#connWorkspaceSuccessMsg').html("Snapshot completed.");
				     $('#connWorkspaceSuccessMsg').show().fadeOut(4200, function(){
				    	 $('#<%=connectionid%>').click();
				     });
	    	     }
	    	   });
			
		});
		
		$("#diffSnapshotBtn").bind('click',function() {
			var selectedItems = $("#snapshotsDiv :checkbox:checked");
			if(selectedItems.length == 0){
				return;
			}
			if(selectedItems.length > 0 && selectedItems.length != 2){
				$('#connWorkspaceErrMsg').html("Please select two snapshot files to diff.");
				$('#connWorkspaceErrMsg').show().fadeOut(4200,function(){ $(this).hide(); });;
			}
			var snapshots = [];
			for(var i=0; i < selectedItems.length; i++){
				snapshots.push($(selectedItems[i]).attr("id"));
			}
			
			var url = "/snapshots/diff?id1=" + snapshots[0] + "&id2=" + snapshots[1] + "&connectionid=<%=connectionid%>";
			window.open(url, "_blank", "scrollbars=1,resizable=1,height=400,width=450");
    	});
		
		$('#deleteSnapshotsBtn').click(function(){
			var selectedItems = $("#snapshotsDiv :checkbox:checked");
			if(selectedItems.length == 0){
				return;
			}
			
			var snapshots = [];
			for(var i=0; i < selectedItems.length; i++){
				snapshots.push($(selectedItems[i]).attr("id"));
			}
			
			$.ajax({

	    	     type: "POST",
	    	     url: '/delete/snapshots/',
	    	     data: { snapshots : snapshots, 
	    	     	connectionid : '<%=connectionid%>'}, 
	    	     success: function(data) {
	    	    	 $('#connWorkspaceSuccessMsg').html("Snapshots successfully removed.");
				     $('#connWorkspaceSuccessMsg').show().fadeOut(4200, function(){
				    	 $('#<%=connectionid%>').click();
				     });
	    	     }
	    	   });
			 
		});
		
	});

	
	</script>
</div>