<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Workspace</title>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/chaos.css"/>
    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/foundation/foundation.js"></script>
    <script src="javascripts/foundation/foundation.accordion.js"></script>
    <script src="javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/foundation/foundation.accordion.js"></script>
	<script type="text/javascript" src="javascripts/knockout-3.0.0.js"></script>
  </head>
  <body class="background">
 
  <div class="row"> 
  	 <div class="section.left-small">
  	 <p>
  	 	You are currently logged in as <strong><%=user.username%></strong>
  	 	<span class="right">
  	 		<a href="/logout">Log Out</a>
  	 	</span>
  	 </p>
  	 </div>
	
  	 <div class="large-3 medium-3 columns">
			<div class="row">
			<ul id="services" class="pricing-table">
			<li class="description">
				<p>Services </p>
				<a href="#" data-reveal-id="addServiceModal" class="radius button tiny">Add a service</a>
			</li>
			<span id="serviceLinks">
			<% 
				if(services && services.length > 0){
					for(var i=0; i < services.length; i++){
			%>
				<li class="bullet-item">
					<a id='<%=services[i].title%>' href='/services/workspace?id=<%=services[i]._id%>'>
						<%= services[i].title %>
					</a>
				</li>
			<%
					} // end for loop
				}// end if block
			%>
			</span>
			</ul>
			</div>
		</div>
		
		<div class="large-9 medium 9 columns">
			<div id="addServiceSuccessMessage" data-alert class="alert-box success radius large-9 medium 9 columns">
			  New Service Created.
			  <a href="#" class="close">&times;</a>
			</div>
			
			<div id="workspace" style="padding-left: 5px; padding-right: 5px;">
				<p>
				   This is a simple tool to perform targeted network degredation for
				   a particular service. For each monitored service that you add, you 
				   can define one or more network degredation policies which can be 
				   applied at pre-defined intervals.			   
				</p>
				<p>
					<h6>
						Netork Degredation Policies:
					</h6>
					<ul>
						<li>Disrupt Service - Stop service on a particular host for a period of time.</li>
						<li>Block Incoming IP Address - Blocks incoming requests from a particular IP address.</li>
						<li>Block Outgoing IP Address - Blocks outgoing requests to a particular IP address.</li>
						<li>Block Incoming Port - Blocks incoming requests for a particular port.</li>
						<li>Block Outgoing Port - Blocks outgoing requests for a particular port.</li>
				</p>
				
			</div>
		</div>
	</div>
	
	<div id="addServiceModal" class="reveal-modal tiny" data-reveal>
	  <h3>Add a service to monitor.</h3>
	  <p>Please enter the service host information</p>
	  <form>
	  	  <label>Service Title: descriptive name of service</label>
	  	  <input type="text" name="serviceTitle" data-bind="value: serviceTitle"/>
	  	  <label>HostName: host name or IP address</label>
	  	  <input type="text" name="hostName" data-bind="value: hostName"/>
	      <label>Start Command: linux full service start command (sudo /opt/ec/broker/bin/brokerctl start)</label>
	      <input type="text" name="startCommand" data-bind="value: startCommand"/>
	      <label>Start Command: linux full service start command (sudo /opt/ec/broker/bin/brokerctl start)</label>
	      <input type="text" name="stopCommand" data-bind="value: stopCommand"/>
	      <input type="button"	 data-bind="click: save" value="Save"/>
	  </form>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

	
	 <script>
	    $(document).foundation();
	    $('#addServiceSuccessMessage').hide();
	    
    	$(document).ready(function(){
    		
    		$("#serviceLinks a").click(function() {
    			
    			console.log("making request: " + $(this).attr("href"));
            	$.ajax({

		    	     type: "GET",
		    	     url: $(this).attr("href"),
		    	     success: function(data) {
		    	    	 $("#workspace").show();
		    	         $('#workspace').html(data);
		    	     }
		    	   });
            	
            	return false;
        	});
    	});
	  </script>
	 
	 <script type='text/javascript'>
	 /*<![CDATA[*/
	 	var ServiceModel = function(services) {
	     var self = this;
	     self.serviceTitle = ko.observable("");
	     self.hostName = ko.observable("");
	     self.startCommand = ko.observable("");
	     self.stopCommand = ko.observable("");
	     self.save = function(form) {
	    	 
	    	 var serviceTitle = self.serviceTitle();
	    	 var hostName = self.hostName();
	    	 var startCommand = self.startCommand();
	    	 var stopCommand = self.stopCommand();
	    	 
	    	 $.post("/services", { serviceTitle: serviceTitle, hostName: hostName, 
	    		 startCommand: startCommand,
	    		 stopCommand: stopCommand}).done(
	    		 function(data){
	    			 var con = data;
	    			 $('#services').append('<li class="bullet-item">' + con.title + '</li>');
	    			 $('#addServiceModal').foundation('reveal','close');
	    			 $('#addServiceSuccessMessage').show().fadeOut(2600,function(){ $(this).remove(); });;
	    		 });
	         
	     }; // end save function
	 
	 };
	  
	 ko.applyBindings(new ServiceModel(), document.getElementById('addServiceModal'));
	  
	 /*]]>*/
	 </script>

  </body>
</html>